# Matplotlib Exercises

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

Below are the temperatures in degrees Celsius for this day (July 10) in Boston each year from 1961 to 2010. Plot the dates on the x-axis and temperatures on the y-axis.

In [ ]:
temp_boston = [17.8, 22.8, 17.5, 16.4, 23.35, 25.3, 27.25, 24.45, 22.5, 23.6, 26.7, 22.75, 21.95, 26.4,
23.05, 22.5, 21.1, 26.1, 23.9, 20.25, 27.8, 23.9, 21.7, 19.7, 25.0, 21.4, 21.1, 27.8, 22.25, 27.25, 
23.35, 25.0, 30.0, 25.8, 23.6, 22.5,19.15, 22.8, 23.6, 25.0, 20.8, 21.4, 18.6, 23.05, 25.0, 25.0,
18.35, 25.3, 18.6]

In [ ]:
# YOUR CODE HERE

Now below is the temperature in degrees Celsius for this day (July 10) each year in New York from 1961 to 2010. Plot the temperatures of New York and Boston on the same graph in different colors.

In [ ]:
temp_new_york =[23.35, 25.25, 20.25, 22.25, 25.85, 25.85, 25.55, 24.2, 22.5, 23.9, 28.3, 22.8, 26.7,
29.7, 23.6, 22.8, 23.05, 26.7, 20.3, 23.65, 28.05, 25.0, 21.4, 21.35, 26.1, 25.25, 28.35, 25.85, 27.5,
26.4, 21.7, 27.2, 32.25, 28.3, 22.5, 23.05, 22.8, 25.0, 24.7, 27.5, 25.85, 24.45, 20.0, 24.15, 26.95,
22.5, 25.85, 27.25, 19.4]

In [ ]:
# YOUR CODE HERE

Plot the temperatures of New York and Boston on different graphs in the same figure¶

In [ ]:
# YOUR CODE HERE

Univariate Analysis

---

Read the csv file into a dataframe and print the first 7 rows

In [ ]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/BWSI_Dataset1.csv"

# YOUR CODE HERE

Conduct a Univariate Analysis of the participants' Cholesterol. What is noticeable about it? Create a function that normalizes the participants' Cholesterol and create two visualizations, one before the `"Chol"` data is modified, and one after normalizing the `"Chol"` data.

In [ ]:
# YOUR CODE HERE

Bivariate Analysis

---

Conduct a Bivariate Analysis for `"Protein"` and `"Chol"`. What is familar about this compared to the tutorial? What is another way to deal with overplotting other than the Hex plot? Create two data visualizations, one that shows the overplotting, another that resolves this issue. After you are done, play around with the sns.kdeplot function or try to create a 3D graph to reduce the effects of overplotting.

In [ ]:
# YOUR CODE HERE

If you have time here are some challenge python problems

---

As depicted below, create a numpy array of zeros (a) and an array of ones (b). Using slicing and assignment, update a using b, so that a is the array on the right side of the arrow. <br>
hint: use np.zeros and np.ones

In [ ]:
# 0 0 0 0 0 0                  0 0 0 0 0 0
# 0 0 0 0 0 0    1 1 1  --->   0 0 0 0 0 0
# 0 0 0 0 0 0    1 1 1         0 0 1 1 1 0
# 0 0 0 0 0 0                  0 0 1 1 1 0

In [ ]:
# YOUR CODE HERE

Fill in the function below. The function recieves a non-empty string and an int n, and returns a new string where the character at index n has been removed.¶

In [ ]:
def remove_char(old_string, n):
    # YOUR CODE HERE
    return new_string

remove_char("words", "o")
"words"[len("words")-1:]

Given a string, return a new string where the first and last characters have been exchanged.

In [ ]:
def swap_chars(old_string):
  # YOUR CODE HERE

Test the function with three different parameters

In [ ]:
# YOUR CODE HERE